# The Platforc Documentation Project and Repository is owned by the Platforce Team.
# Any changes to the documentation need to be approved before it is published.
# This is done though a pull request.
* @navikt/platforce
