# The Platforc Documentation Project and Repository is owned by the Platforc Team.
# Any changes to the documentation need to be approved before it is published.
# This is done though a pull request.
*    @navikt/platforc