name: Build and Validate MkDocs

on:
  pull_request:
    types: [opened, synchronize]
    branches:
      - main

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  validate:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.0
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.13'

      - name: Install poetry
        uses: abatilo/actions-poetry@3765cf608f2d4a72178a9fc5b918668e542b89b1

      - name: Run pipx
        uses: CfirTsabari/actions-pipx@d35b22ca4591edf63f63825e9dc62cb2d3707cc5

      - name: Install the project dependencies
        run: poetry install

      - name: Build
        run: poetry run mkdocs build --verbose
